{% extends 'asistencia/base.html' %}

{% block title %}
Inicio | PRESENTE
{% endblock %}

{% block content %}

<section class="inicio">

    <div class="inicio-contenido">

        <p class="inicio-etiqueta">
            CONTROL DE ASISTENCIA
        </p>

        <h1>
            PRESENTE <span>by Retorika</span>
        </h1>

        <p class="inicio-descripcion">
            Gestiona la asistencia a clase de forma rápida, sencilla y segura mediante códigos QR.
        </p>

    </div>

</section>

{% endblock %}